@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY */
body {
  font-family: "Google Sans", sans-serif;
  min-height: 100vh;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
}

/* CENTER WRAPPER */
.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* MAIN CONTAINER */
.container {
  width: min(90%, 900px);
  background: linear-gradient(90deg, #9adb89, rgba(215, 25, 221, 0.541));
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

/* HEADINGS */
h1 {
  font-size: 48px;
  font-weight: 800;
  color: #2e2828;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  color: #2e2828;
}

/* PLAYGROUND */
.play-ground {
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

/* PLAYER CARD */
.player1,
.player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: transform 0.3s ease;
}

.player1:hover,
.player2:hover {
  transform: scale(1.05);
}

/* DICE IMAGE */
.play-ground img {
  width: 160px;
  max-width: 100%;
}

.button-div {
  display: flex;
  justify-content: center;
  width: 100%;
}
/* BUTTONS */
#button,
#names-btn {
  background-color: #2f3b2a;
  padding: 14px 28px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  width: 70%;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

#names-btn {
  width: auto;
}

#button:hover,
#names-btn:hover {
  transform: translateY(3px);
  opacity: 0.9;
}

/* END TEXT */
.end-text {
  font-size: 18px;
  color: #2e2828;
}

/* MOBILE */
@media (max-width: 600px) {
  .wrapper {
    padding: 0;
  }
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 22px;
  }

  .play-ground img {
    width: 120px;
  }
}
